<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="smtpSender" value="mgentile@iadb.org" />
    <add key="attachmentsPath" value="D:\Personal\Git\notifications\src\tmp"/>
    <add key="proxyUrl" value="wwppool.local.iadb.org:9090"/>
    <add key="smtpHost" value="smtp.iadb.org" />
  </appSettings>
</configuration>