<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GUMSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GUMSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://hqta01:8080/sec_gum1/gum.asmx" binding="basicHttpBinding"
                bindingConfiguration="GUMSoap" contract="Gum.GUMSoap" name="GUMSoap" />
            <endpoint address="http://hqta01:8080/sec_gum1/gum.asmx" binding="customBinding"
                bindingConfiguration="GUMSoap12" contract="Gum.GUMSoap" name="GUMSoap12" />
        </client>
    </system.serviceModel>
</configuration>