<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="SecConfig.ApiUrl" value="http://mgentile/SecConfig"/>
  </appSettings>
  <system.net>
    <!--<defaultProxy>
      <proxy
        proxyaddress="http://mgentile:9999" bypassonlocal="false"/>
    </defaultProxy>-->
  </system.net>
</configuration>
