<div class="panel panel-info">
    <div class="panel-heading">Create New Application</div>
    <div class="panel-body">
        <div class="well">
            <fieldset>
                <div class='col-sm-6'>
                    <legend></legend>
                    <div class="form-group">
                        <label>Name</label>
                        <input required placeholder="My new application"  class="form-control" type="text" ng-model="name" />
                        <label>AccessKey</label>
                        <input required class="form-control" type="text" ng-model="accessKey" />
                        <label>Owner</label>
                        <input required placeholder="pepe" class="form-control" type="text" ng-model="owner" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<button ng-click="save()" class="button btn btn-primary">Save</button>
<a href="#/application" class="button btn btn-primary">Cancel</a>
