<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target xsi:type="File"
            name="FileLog"
            layout="${longdate}${newline}${message}${newline}${exception:format=ToString,StackTrace}"
            fileName="${logDirectory}/Log.txt"/>
    <target xsi:type="Mail"
          name="MailLog"
          layout="${machinename} => ${longdate} => ${message} => ${exception:format=ToString,StackTrace}"
          subject="${level} in SecConfig @ ${machinename}"
          html="True"
          addNewLines="True"
          from="mgentile@iadb.org"
          to="mgentile@iadb.org"
          smtpServer="smtp.iadb.org"
          smtpPort="25" />
  </targets>
  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="MailLog" />
    <logger name="*" levels="Debug,Error,Fatal" writeTo="FileLog" />
  </rules>
</nlog>